backend:
  name: github
  repo: abdulqudus001/ibn_abubakre.dev

media_folder: 'assets/uploads'
public_folder: 'assets/uploads'

collections:
  - name: 'posts'
    label: 'Posts'
    folder: 'posts'
    create: true
    slug: '{{slug}}'
    fields:
      - {label: 'Title', name: 'title', widget: 'string'}
      - {label: 'Publish Date', name: 'date', widget: 'date'}
      - {label: 'Summary', name: 'summary', widget: 'string'}
      - {label: 'Tags', name: 'tags', widget: 'select', options: ['Arrays', 'JavaScript', 'HTML', 'CSS', 'Performance', 'Accessibility'], multiple: true}
      - {label: 'Image', name: 'image', widget: 'string'}
      - {label: 'Image caption', name: 'caption', widget: 'string'}
      - {label: 'Body', name: 'body', widget: 'markdown'}